html,
body {
  margin-left: 10%;
  margin-right: 10%;
}

nav,
nav > ul {
  display: flex;
  align-items: center;
}

nav > form {
  margin-left: auto;
}

nav > ul {
  list-style: none;
  gap: 5px;
}

.habit-chart {
  margin: 10px 10px 10px 0;
  display: grid;
  grid-template-columns: repeat(73, 5px);
}

.day-complete,
.day-incomplete {
  width: 5px;
  height: 5px;
  border: 1px solid black;
}

.day-complete {
  background-color: blue;
}

.day-incomplete {
  background-color: red;
}
